header nav{height: 3cm;

}



.img1{width: auto   ;
    width: 12cm;
    align-items: center;
    border-radius: 1cm;
    border-color: black;

}
.img2{
    width: 6cm;;
}

.botonagregar{border-radius: 1cm;
    border-color: black;

}

.tipotext2{align-items: center;
    width: 5cm   ;
}